@import "./utils/variable";

body {
  margin: 0;
  cursor: auto;
  overflow-x: hidden;
  height: 100%;
}

#particles-js {
  position: absolute;
  height: 100vh;
  width: auto;
  @include mobile {
    height: 120vh;
  }
}

#particles-js2 {
  position: absolute;
  padding-top: 100px;
  height: 2160px;
  width: auto;
  @include tablet {
    padding-top: 200px;
    height: 2660px;
  }
  @include mobile {
    padding-top: 150px;
    height: 2260px;
  }
  @include mobileMedium {
    height: 2160px;
  }
}

/* Animation globale */

.slideIn {
  opacity: 0;
}
.slideIn-transition {
  animation: slideInTop 0.8s ease-in-out forwards;
}

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.2)),
    url(/Pictures/Background.jpg) no-repeat center;
  min-height: 4320px;
  background-size: cover;
  position: relative;
  /*   @include mobile {
    min-height: 520vh;
  } */
  header {
    min-height: 1080px;
    ul {
      display: flex;
      justify-content: flex-end;
      padding-right: 40px;
      @include tablet {
        justify-content: center;
      }
      @include mobile {
        justify-content: space-between;
        padding-right: 0;
      }
      @include mobileMedium {
        flex-wrap: nowrap;
      }
      li {
        position: relative;
        a {
          color: white;
          font-size: 1.7em;
          margin: 0 15px;
          padding-top: 30px;
          @include mobile {
            margin: 0;
            padding-top: 15px;
            font-size: 1.4em;
          }
          @include mobileMedium {
            font-size: 1.3em;
          }
          &:hover {
            color: $nav-color;
          }
          &:focus {
            color: $nav-color;
          }
        }
      }
    }
    h1 {
      font-size: 5em;
      max-width: 900px;
      line-height: 1.6em;
      margin: 250px auto 0;
      animation: Title 1.5s ease-in forwards;
      @include mobile {
        margin-top: 150px;
        font-size: 3.8em;
      }
      span {
        background: linear-gradient(45deg, #ff0062, #eb40bd, #00e1ff, #46e7c5);
        background-size: 400% 400%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: gradient 10s ease infinite;
      }
    }
  }

  section {
    .about {
      min-height: 1080px;
      h2 {
        font-size: 4em;
        padding-top: 50px;
        @include tablet {
          padding-top: 250px;
        }
        @include mobile {
          padding-top: 130px;
          font-size: 3em;
        }
      }
      .profilPicture {
        margin-top: 70px;
        background-color: rgba($color: #f2f2f2, $alpha: 0.3);
        border-radius: 15px;
        @include mobile {
          margin-top: 40px;
        }
        p {
          font-size: 1.5em;
          color: #222;
          text-align: justify;
          font-weight: 600;
          @include tablet {
            font-size: 1.3em;
          }
          @include mobile {
            font-size: 1.2em;
            font-weight: 500;
          }
        }
      }
      .workingLearning {
        margin-top: 80px;
        background-color: rgba($color: #f2f2f2, $alpha: 0.3);
        border-radius: 15px;
        @include tablet {
          margin-top: 80px;
        }
        @include mobile {
          margin-top: 20px;
        }
        div:first-child {
          @include mobile {
            padding-bottom: 20px;
          }
        }
        h3 {
          font-size: 1.7em;
          font-weight: 600;
          @include tablet {
            font-size: 1.5em;
            font-weight: 500;
          }
        }
        div {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: flex-start;
          span {
            font-size: 3em;
            padding: 0 10px;
            color: #222;
            @include mobile {
              font-size: 2.5em;
            }
            @include mobileSmall {
              font-size: 2.2em;
            }
            p {
              font-size: 0.45em;
              font-weight: 400;
            }
          }
        }
      }
    }
    .project {
      min-height: 1080px;
      h2 {
        font-size: 4em;
        padding-top: 150px;
        @include tablet {
          padding-top: 210px;
        }
        @include mobile {
          padding-top: 200px;
          font-size: 3em;
          padding-bottom: 30px;
        }
      }
      .containerModal {
        .rowModal {
          margin-top: 50px;
          @include mobile {
            margin-top: 20px;
          }
          .cardModal {
            cursor: pointer;
            height: auto;
            padding: 0;
            border: none;
            margin: 10px 10px;
            border-radius: 30px;
            box-shadow: 5px 5px 15px #222;
            transition: opacity 0.3s ease-in-out;
            @include tablet {
              margin: 10px auto;
            }
            &:hover {
              opacity: 0.7;
            }
            .imgThumb {
              object-fit: contain;
              width: auto;
              height: 100%;
              border-radius: 30px;
            }
            .imgThumbCover {
              object-fit: cover;
              @include tablet {
                object-fit: contain;
              }
            }
            .titleProject {
              position: absolute;
              color: white;
              bottom: 0px;
              left: 5px;
              padding: 15px;
              border-radius: 30px;
              background-color: rgba($color: #222, $alpha: 0.9);
            }
          }
        }
        .modal-content {
          background: rgba($color: #222, $alpha: 0.9);
          .modal-body {
            img {
              border-radius: 5px;
            }
            p {
              color: white;
              font-size: 1.1em;
              padding: 20px 5px 10px;
              width: 80%;
              margin: 0 auto;
              @include tablet {
                width: 100%;
              }
            }
          }
          .modal-footer {
            border: none;
            button,
            a {
              font-size: 1.1em;
            }
          }
        }
      }
    }
  }
  footer {
    min-height: 1080px;
    h2 {
      font-size: 4em;
      padding-top: 100px;
      @include tablet {
        padding-top: 250px;
      }
      @include mobile {
        font-size: 3em;
        padding-top: 200px;
      }
    }
    div {
      form {
        max-width: 70%;
        padding-top: 50px;
        margin: 0 auto;
        @include tablet {
          padding-top: 0;
        }
        .inputForm {
          margin: 40px 0;
          input {
            background-color: #222;
            color: white;
            border: none;
          }
          label {
            color: white;
          }
        }
        .form-floatingTextArea {
          &:before {
            content: "";
            position: absolute;
            left: 1px; /* border-width (default by BS) */
            width: calc(100% - 18px); /* to show scrollbar */
            height: 32px;
            border-radius: 4px; /* (default by BS) */
            background-color: #222;
          }
          textarea.form-control {
            padding-top: 30px; /* height of pseudo element */
            min-height: 80px; /* not relevant */
            background-color: #222;
            color: white;
            border: none;
          }
        }

        .submit {
          position: relative;
          margin-bottom: 40px;
          button {
            background-color: #222;
            color: white;
            font-size: 1.3em;
            &:hover {
              background-color: rgba($color: $nav-color, $alpha: 0.5);
            }
          }
        }
      }
      .contactMail {
        position: relative;
        font-size: 1.5em;
        @include tablet {
          font-size: 1.2em;
        }
        @include mobile {
          font-size: 1.3em;
        }
        a {
          color: white;
          transition: color 0.2s ease-in-out;
          &:hover {
            color: $nav-color;
          }
          @include mobile {
            font-size: 1em;
          }
        }
      }
      .contactMail::first-letter {
        text-transform: capitalize;
      }
      .social {
        margin-top: 30px;
        p {
          font-size: 1.5em;
          @include tablet {
            font-size: 1.2em;
          }
          @include mobile {
            font-size: 1.3em;
          }
        }
        a {
          position: relative;
          span {
            color: white;
            font-size: 3.5em;
            padding: 0 20px;
            transition: color 0.2s ease;
            &:hover {
              color: #222;
            }
            @include tablet {
              font-size: 3em;
            }
            @include mobile {
              font-size: 3.5em;
            }
          }
        }
      }
    }
  }

  /* Change the white to any color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #222 inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
