@import "./utils/variable";

body {
  margin: 0;
  cursor: auto;
  overflow-x: hidden;
  height: 100%;
}

#particles-js {
  position: absolute;
  left: 0;
  height: 980px;
  width: auto;
  @include tablet {
    height: 1080px;
  }
  @include mobile {
    height: 120vh;
  }
}

#particles-js2 {
  position: absolute;
  left: 0;
  padding-top: 100px;
  height: 2160px;
  width: auto;
  @include tablet {
    padding-top: 200px;
    height: 2660px;
  }
  @include mobile {
    padding-top: 150px;
    height: 2260px;
  }
  @include mobileMedium {
    height: 2160px;
  }
}

/* Animation globale */

.slideIn {
  opacity: 0;
}
.slideIn-transition {
  animation: slideInTop 0.8s ease-in-out forwards;
}

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.2)),
    url(/Pictures/Background.jpg) no-repeat center;
  min-height: 4320px;
  background-size: cover;
  position: relative;
  /*   @include mobile {
    min-height: 520vh;
  } */
  header {
    min-height: 1080px;
    overflow-x: hidden;
    ul {
      display: flex;
      justify-content: flex-end;
      padding-right: 40px;
      @include tablet {
        justify-content: center;
      }
      @include mobile {
        justify-content: space-between;
        padding-right: 0;
      }
      @include mobileMedium {
        flex-wrap: nowrap;
      }
      li {
        position: relative;
        a {
          color: white;
          font-size: 1.7em;
          margin: 0 15px;
          padding-top: 30px;
          @include mobile {
            margin: 0;
            padding-top: 15px;
            font-size: 1.4em;
          }
          @include mobileMedium {
            font-size: 1.3em;
          }
          &:hover {
            color: $nav-color;
          }
          &:focus {
            color: $nav-color;
          }
        }
      }
    }
    .RedPlanet {
      position: absolute;
      width: 60px;
      top: 650px;
      left: 200px;
      z-index: 2;
      cursor: crosshair;
      animation: float-red 5s ease-in-out infinite;
      filter: drop-shadow(0 0 15px crimson);
      &:hover {
        animation: EXPLOSION-RED 3s linear forwards;
      }
      @include ordi {
        top: 750px;
      }
      @include mobile {
        left: 100px;
        top: 650px;
      }
      @include mobileMedium {
        left: 100px;
        top: 700px;
      }
      @include mobileSmall {
        right: 100px;
        top: 730px;
      }
    }
    .BluePlanet {
      position: absolute;
      width: 40px;
      top: 200px;
      right: 250px;
      cursor: crosshair;
      animation: float-blue 5s ease-in-out 0.5s infinite;
      filter: drop-shadow(0 0 15px rgb(0, 132, 255));
      &:hover {
        animation: EXPLOSION-BLUE 3s linear forwards;
      }
      @include tablet {
        top: 150px;
      }
      @include mobile {
        right: 100px;
        top: 100px;
      }
    }
    h1 {
      font-size: 5em;
      max-width: 900px;
      line-height: 1.6em;
      margin: 250px auto 0;
      animation: Title 1.5s ease-in forwards;
      @include ordi {
        font-size: 4.7em;
      }
      @include tablet {
        font-size: 5em;
      }
      @include mobile {
        margin-top: 150px;
        font-size: 3.8em;
      }
      span {
        background: linear-gradient(45deg, #ff0062, #eb40bd, #00e1ff, #46e7c5);
        background-size: 400% 400%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: gradient 10s ease infinite;
      }
    }

    .wrapperSpace {
      animation: y-axis 3s ease-in-out infinite;
      z-index: 1;
      .SpaceUfo {
        width: 80px;
        margin-top: -180px;
        position: relative;
        left: -30%;
        animation: x-axis 50s linear 5s infinite;
        transform: rotate(0deg);
        transition: transform 1s ease-in-out;
        &:active {
          transform: rotate(360deg);
          transition: 0s;
        }
        @include tablet {
          animation-duration: 30s;
          margin-top: 60px;
        }
        @include mobile {
          animation-duration: 20s;
        }
        @include mobileSmall {
          left: -32%;
        }
      }
    }
  }

  section {
    overflow: hidden;
    .about {
      min-height: 1080px;

      h2 {
        font-size: 4em;
        padding-top: 50px;
        @include tablet {
          padding-top: 250px;
        }
        @include mobile {
          padding-top: 130px;
          font-size: 3em;
        }
      }
      .SkyAirship {
        width: 75px;
        height: auto;
        margin-top: 0;
        z-index: 0;
        position: relative;
        right: -110%;
        animation: Airship 270s linear infinite;
        @include ordi {
          animation-duration: 200s;
        }
        @include tablet {
          animation-duration: 120s;
        }
        @include mobile {
          animation-duration: 70s;
        }
      }
      .profilPicture {
        margin-top: 50px;
        background-color: rgba($color: #f2f2f2, $alpha: 0.3);
        border-radius: 15px;
        @include mobile {
          margin-top: 40px;
        }
        p {
          font-size: 1.5em;
          color: #222;
          text-align: justify;
          font-weight: 600;
          @include tablet {
            font-size: 1.3em;
          }
          @include mobile {
            font-size: 1.2em;
            font-weight: 500;
          }
        }
      }
      .workingLearning {
        margin-top: 80px;
        background-color: rgba($color: #f2f2f2, $alpha: 0.3);
        border-radius: 15px;
        @include tablet {
          margin-top: 80px;
        }
        @include mobile {
          margin-top: 20px;
        }
        div:first-child {
          @include mobile {
            padding-bottom: 20px;
          }
        }
        h3 {
          font-size: 1.7em;
          font-weight: 600;
          @include tablet {
            font-size: 1.5em;
            font-weight: 500;
          }
        }
        div {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: flex-start;
          span {
            font-size: 3em;
            padding: 0 10px;
            color: #222;
            @include mobile {
              font-size: 2.5em;
            }
            @include mobileSmall {
              font-size: 2.2em;
            }
            p {
              font-size: 0.45em;
              font-weight: 400;
            }
          }
        }
      }
      .boat {
        margin: 20px 0 50px;
        position: relative;
        animation: Boat 7s ease-in-out infinite;
        @include tablet {
          margin: 20px 0 100px;
        }
      }
    }
    .project {
      min-height: 1280px;
      &::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
      h2 {
        font-size: 4em;
        padding-top: 150px;
        @include tablet {
          padding-top: 210px;
        }
        @include mobile {
          padding-top: 200px;
          font-size: 3em;
          padding-bottom: 30px;
        }
      }
      .fishes {
        position: relative;
        .group-fish {
          position: absolute;
          right: 0px;
          width: 300px;
          height: auto;
          fill: #436db0;
          animation: group-fish 20s linear infinite;
          transform: rotate(-17deg);
          .cls-1 {
            @include multiple-fish-mouv;
          }
          @include tablet {
            animation-duration: 14s;
          }
          @include mobile {
            animation-duration: 7s;
          }
        }
        .group-fish-2 {
          position: absolute;
          top: 700px;
          width: 250px;
          transform: scaleX(-1) rotate(7deg);
          animation: group-fish-2 30s linear infinite;
          .fish-1,
          .fish-2,
          .fish-3,
          .fish-4 {
            @include multiple-fish-mouv;
          }
          @include tablet {
            animation-duration: 20s;
          }
          @include mobile {
            animation-duration: 15s;
          }
        }
      }
      .containerModal {
        .rowModal {
          margin-top: 50px;
          @include mobile {
            margin-top: 20px;
          }
          .cardModal {
            cursor: pointer;
            height: auto;
            padding: 0;
            border: none;
            margin: 10px 10px;
            border-radius: 30px;
            box-shadow: 5px 5px 15px #222;
            transition: opacity 0.3s ease-in-out;
            @include tablet {
              margin: 10px auto;
            }
            &:hover {
              opacity: 0.7;
            }
            .imgThumb {
              object-fit: contain;
              width: 100%;
              height: 100%;
              border-radius: 30px;
            }
            .imgThumbCover {
              object-fit: cover;
              @include tablet {
                object-fit: contain;
              }
            }
            .titleProject {
              position: absolute;
              color: white;
              bottom: 0px;
              left: 5px;
              padding: 15px;
              border-radius: 30px;
              background-color: rgba($color: #222, $alpha: 0.9);
            }
          }
        }
        .modal-content {
          background: rgba($color: #222, $alpha: 0.97);
          border: none;
          margin-top: 50px;
          @include tablet {
            margin-top: 100px;
          }
          .modal-body {
            padding: 0;
            img {
              border-radius: 5px 5px 0 0;
            }
            p {
              color: white;
              font-size: 1.1em;
              padding: 20px 5px 10px;
              width: 80%;
              margin: 0 auto;
              @include tablet {
                width: 100%;
              }
            }
          }
          .modal-footer {
            border: none;
            button,
            a {
              font-size: 1.1em;
            }
            .close-modal {
              position: absolute;
              top: -10px;
              right: -2px;
              font-size: 1.8em;
              color: black;
              z-index: 9999;
              :hover {
                color: #dc143c;
              }
            }
          }
        }
      }
    }
  }
  footer {
    min-height: 1080px;
    overflow: hidden;
    h2 {
      font-size: 4em;
      padding-top: 100px;
      @include tablet {
        padding-top: 250px;
      }
      @include mobile {
        font-size: 3em;
        padding-top: 200px;
      }
    }
    .wrapper-alone-fish {
      animation: y-axis-alone-fish 2s ease-in-out infinite;
      .alone-fish {
        position: relative;
        width: 100px;
        top: 50px;
        animation: alone-fish 25s linear infinite;
        path {
          fill: #56a7c4;
        }
        @include tablet {
          animation: alone-fish-tablet 20s linear infinite;
        }
        @include mobile {
          animation: alone-fish-mobile 15s linear infinite;
        }
      }
    }
    div {
      form {
        max-width: 70%;
        margin: 0 auto;
        @include tablet {
          padding-top: 0;
        }
        .inputForm {
          margin: 40px 0;
          input {
            background-color: #222;
            color: white;
            border: none;
          }
          label {
            color: white;
          }
        }
        .form-floatingTextArea {
          &:before {
            content: "";
            position: absolute;
            left: 1px; /* border-width (default by BS) */
            width: calc(100% - 18px); /* to show scrollbar */
            height: 32px;
            border-radius: 4px; /* (default by BS) */
            background-color: #222;
          }
          textarea.form-control {
            padding-top: 30px; /* height of pseudo element */
            min-height: 80px; /* not relevant */
            background-color: #222;
            color: white;
            border: none;
          }
        }

        .submit {
          position: relative;
          margin-bottom: 40px;
          button {
            background-color: #222;
            color: white;
            font-size: 1.3em;
            &:hover {
              background-color: rgba($color: $nav-color, $alpha: 0.5);
            }
          }
        }
      }
      .contactMail {
        position: relative;
        font-size: 1.5em;
        @include tablet {
          font-size: 1.2em;
        }
        @include mobile {
          font-size: 1.3em;
        }
        a {
          color: white;
          transition: color 0.2s ease-in-out;
          &:hover {
            color: $nav-color;
          }
          @include mobile {
            font-size: 1em;
          }
        }
      }
      .contactMail::first-letter {
        text-transform: capitalize;
      }
      .social {
        margin-top: 30px;
        p {
          font-size: 1.5em;
          @include tablet {
            font-size: 1.2em;
          }
          @include mobile {
            font-size: 1.3em;
          }
        }
        a {
          position: relative;
          span {
            color: white;
            font-size: 3.5em;
            padding: 0 20px;
            transition: color 0.2s ease;
            &:hover {
              color: #222;
            }
            @include tablet {
              font-size: 3em;
            }
            @include mobile {
              font-size: 3.5em;
            }
          }
        }
      }
    }
  }

  /* Change the white to any color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #222 inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
