$primary-color: #fff;
$nav-color: #46e7c5;
$rotate-boat-neg: -2deg;
$rotate-boat-pos: 2deg;

@mixin ordi {
  @media all and (max-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media all and (max-width: 767px) {
    @content;
  }
}

@mixin mobile {
  @media all and (max-width: 576px) {
    @content;
  }
}

@mixin mobileMedium {
  @media all and (max-width: 400px) {
    @content;
  }
}

@mixin mobileSmall {
  @media all and (max-width: 350px) {
    @content;
  }
}

// Title

@keyframes Title {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// Slide-in Animation on element

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Planet Animation

@keyframes float-red {
  50% {
    transform: translateY(8px);
  }
}

@keyframes float-blue {
  50% {
    transform: translateY(6px);
  }
}

@keyframes EXPLOSION-RED {
  0% {
    filter: brightness(1);
    transform: scale(1) translateY(4px);
  }
  90% {
    filter: brightness(10);
    transform: scale(1.2) rotate(0deg);
  }
  100% {
    filter: brightness(0) blur(2px) drop-shadow(0 0 15px black);
    transform: scale(0.7) rotate(100deg);
  }
}

@keyframes EXPLOSION-BLUE {
  0% {
    filter: brightness(1);
    transform: scale(1) translateY(3px);
  }
  90% {
    filter: brightness(4);
    transform: scale(1.2) rotate(0deg);
  }
  100% {
    filter: brightness(0) blur(2px) drop-shadow(0 0 15px black);
    transform: scale(0.7) rotate(100deg);
  }
}

// UFO Animation

@keyframes x-axis {
  0% {
    left: -30%;
    top: 0px;
  }
  15% {
    left: 50%;
  }
  18% {
    left: 50%;
  }
  28% {
    left: 110%;
    top: 200px;
  }
  100% {
    left: 110%;
    top: 200px;
  }
}
@keyframes y-axis {
  50% {
    transform: translateY(70px);
  }
}

// Airship Animation

@keyframes Airship {
  0% {
    right: -110%;
  }
  1% {
    right: -102%;
  }
  90% {
    right: 100%;
  }
  100% {
    right: 100%;
  }
}

// Boat Animation

@keyframes Boat {
  0% {
    transform: rotate($rotate-boat-neg);
  }
  50% {
    transform: rotate($rotate-boat-pos) translateY(4px);
  }
  100% {
    transform: rotate($rotate-boat-neg);
  }
}

// Fishes Animation

@mixin multiple-fish-mouv {
  @for $i from 1 through 11 {
    &:nth-child(#{$i}) {
      animation: y-axis-fish 2s ease-in-out infinite;
      animation-delay: #{random() + s};
    }
  }
}

//Group Fishes

@keyframes group-fish {
  0% {
    right: -110%;
    top: 0;
  }
  70% {
    right: 110%;
    top: 200px;
  }

  100% {
    right: 110%;
    top: 200px;
  }
}

@keyframes group-fish-2 {
  0% {
    left: -100%;
    top: 700px;
  }
  70% {
    left: 110%;
    top: 500px;
  }

  100% {
    left: 110%;
    top: 500px;
  }
}

@keyframes y-axis-fish {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: translateY(2px) rotate((random() + 2) + deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes alone-fish {
  0% {
    left: -20%;
    top: 0px;
    transform: rotate(7deg);
  }
  70% {
    top: 400px;
    left: 110%;
    transform: rotate(17deg);
  }
  100% {
    top: 200px;
    left: 110%;
  }
}

@keyframes alone-fish-tablet {
  0% {
    left: -40%;
    top: 0px;
    transform: rotate(10deg);
  }
  70% {
    top: 400px;
    left: 110%;
    transform: rotate(20deg);
  }
  100% {
    top: 200px;
    left: 110%;
  }
}

@keyframes alone-fish-mobile {
  0% {
    left: -40%;
    top: 0px;
    transform: rotate(20deg);
  }
  70% {
    top: 400px;
    left: 110%;
    transform: rotate(30deg);
  }
  100% {
    top: 200px;
    left: 110%;
  }
}

@keyframes y-axis-alone-fish {
  50% {
    transform: translateY(6px);
  }
}

// Pour débuger quand ça sort de l'écran

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
